.header-container {
  margin-top: 130px; /* Adjust according to your navbar height */
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically if needed */
  height: auto; /* Adjust the height if you want to maintain the vertical centering */
}

.header-image {
  width: 85%; /* Adjust the width as necessary */
  height: auto;
  max-height: 600px; /* Adjust this height */
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #fff; /* White border around the image */
}
