/* src/components/Navbar.css */

.navbar {
  background-color: #000000; /* Black background */
  color: white; /* White text */
  padding: 10px; /* Padding around the navbar */
  display: flex; /* Flexbox for layout */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Align at the top */
  left: 0; /* Align at the left */
  width: 100%; /* Make the navbar full width */
  z-index: 1000; /* Ensure the navbar is above other content */
  }

  
  .navbar h1 {
    margin: 0; /* Remove default margin */
    font-size: 30px /* Make the header text smaller, adjust as needed */
  }
  
  .navbar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Flexbox for horizontal layout */
    margin-right: 15px;
  }
  
  .navbar li {
    margin: 0 15px; /* Margin between links */
  }
  
  .navbar a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Bold text */
  }
  
  .navbar a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  